{% extends 'content_app/base.html'%}

{% block content %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <section class="py-5 text-center container">
    <div class="row py-lg-12">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Каналы</h1>
        <p class="lead text-muted"> Здесь вы можете найти интересные для вас каналы с бесплатным и платным контентом. Платный контент доступен только для пользователеq с подпиской Plus</p>
        <p>
          <a href="#" class="btn btn-outline-success btn-lg">Создать канал</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {% for object in object_list %}
                  <img src="/media/{{ object.image }}" class="card-img-top" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <p class="card-text">{{ object.description }}</p>
                      <div class="dropdown open">
                          <button class="btn btn-secondary dropdown-toggle"
                                  type="button" id="dropdownMenu5" data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                            Тыкай сюда
                          </button>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'content_app:channel_view' object.id%} ">Открыть</a>
                            <a class="dropdown-item" href="%">Следить за каналом</a>
                            <a class="dropdown-item disabled" href="#!">Перестать следить</a>
                          </div>
                        </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>

{% endblock %}