{% extends 'mail/base.html'%}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">LehaMailling</h1>
    <p class="lead">Рассылки</p>
</div>

<div class="col-12">
        <div class="container">
            <div class="col-3 mb-5">
                {% if not user.is_staff %}
                <a class="p-2 btn btn-primary" href='{% url "content_app:channel_create" %}'>Создать канал</a>
                {% endif %}
                <a class="p-2 btn btn-primary" href='{% url "mail:logs_list" %}'>Посмотреть логи</a>
            </div>
            <div class="row text-center">
                {% for object in object_list %}
                    {% if object.user_id == user.id %}
                        <div class="col-3">
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <h4 class="card-title pricing-card-title">{{ object.message }}</h4>
                                        <p class="lead">{{ object.distribution_status }}</p>
                                        <a class="p-2 btn btn-outline-primary" href='{% url "mail:mailling_detail" object.id %}'>Инфо</a>
                                        {% if not user.is_staff %}
                                        <a class="p-2 btn btn-outline-primary" href='{% url "mail:mailling_edit" object.id %}'>Изменить</a>
                                        <a class="p-2 btn btn-outline-danger" href='{% url "mail:mailling_delete" object.id %}'>Удалить</a>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}