{% extends 'content_app/base.html'%}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    <h5>{{ object.content }}</h5>
                     {% if publication.image %}
                        <img src="/media/{{ object.image }}" class="card-img-top" alt="Card image cap">
                    {% endif %}
                    <a class="p-2 btn btn-outline-primary" href='{% url "content_app:channel_view" object.channel.id %}'>Назад</a>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}